:root,
.fp-base-style-scope {
  --bg-primary: #fff;
  --bg-secondary: #ececec;

  --text-dark: #141414;
  --text-light: #DCDCDC;

  --fp-primary-color: #ee1c4e;
  --fp-primary-color-contrast: #fff;

  --fp-font--color: var(--text-dark);
}
